<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'journal_parser/500.css' %}">
    <title>Упс...произошла ошибка</title>
</head>
<body>
<h3>Произошла ошибка на нашей стороне :(</h3>
Возможные причины:
<ul>
    <li><b>Неверный логин\пароль.</b> Если вы получили ошибку почти сразу же после нажатия на кнопку,
    то, скорее всего, дело в этом. Проверьте правильность ввода и попробуйте снова.</li>
    <li><b>Непредвиденная ошибка во время выполнения скрипта.</b> Возможно, в вашем журнале есть что-то, к чему
    разработчик не был готов. Попробуйте проверить журналы отдельно по каждой параллели.</li>
</ul>
</body>
</html>