<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">

    {% load static %}

    <script type="text/javascript" src="{% static 'journal_parser/script.js' %}"></script>

    <link rel="stylesheet" href="{% static 'journal_parser/style.css' %}">
    <title>Проверить журналы</title>

</head>
<body>
<h1>Проверка журналов школы в edu.tatar</h1>

<form  action="process_journal" method="post" id="mainForm">
    {% csrf_token %}
    <p>
        <label for="login">Логин:</label>
        <input type="text" name="login" id="login" required>
    <br>
        <br>
        <label for="password">Пароль:</label>
        <input type="password" name="password" id="password" required>
    </p>
    <hr>
    <p>
        Четверти:
        <label for="term1">с</label>
        <input type="number" name="term1" min="1" max="4" id="term1" value="1" required>
        <label for="term2">по</label>
        <input type="number" name="term2" min="1" max="4" id="term2" value="4" required>
    <br>
        <br>
        Классы:
        <label for="class1">с</label>
        <input type="number" name="class1" min="1" max="11" id="class1" value="1" required>
        <label for="class2">по</label>
        <input type="number" name="class2" min="1" max="11" id="class2" value="11" required>
    </p>

    <p class="center"><b>Пункты проверки:</b></p>

    <p>
        <label for="check_RO">После <b>Контрольной Работы</b> должна быть <b>Работа над Ошибками</b>:</label>
        <input type="checkbox" name="check_RO" id="check_RO" checked>
    </p>
    <hr>
    <p>
        <label for="check_meta">Заполнены ли темы уроков и ДЗ:</label>
        <input type="checkbox" name="check_meta" id="check_meta" checked>
    </p>
    <hr>
    <p>
        <label for="check_lessons_fill">Количество выставленных за урок оценок:</label>
        <input type="checkbox" name="check_lessons_fill" id="check_lessons_fill" onclick="lessons_fill()" checked>
        <br>
        <br>
        <label for="lesson_percent">Минимальный процент выставленных за урок оценок (не включая Н и Б):</label>
        <input type="number" name="lesson_percent" id="lesson_percent" value="25" min="0" max="100" required>
        <br>
        <br>
        <label for="allowed_not_row">Предметы, где "ПР" не требует колонки оценок:</label>
        <input type="text" name="allowed_not_row" id="allowed_not_row" size="50" pattern="[А-Яа-яЁё, ]+" placeholder="Алгебра, Геометрия, Математика">
    </p>
    <hr>
    <p>
        <label for="check_students_fill">Количество оценок у ученика за четверть:</label>
        <input type="checkbox" name="check_students_fill" id="check_students_fill" onclick="students_fill()" checked>
        <br>
        <br>
        <label for="term_percent">Минимальный процент оценок у ученика за четверть (не включая Н и Б):</label>
        <input type="number" name="term_percent" id="term_percent" value="30" min="0" max="100" required>
    </p>
    <hr>
    <p>
        <label for="check_double_two">Не поставлено ли у ученика две двойки подряд:</label>
        <input type="checkbox" name="check_double_two" id="check_double_two" checked>
    </p>
    <hr>
    <p>
        <label for="check_term_marks">Четвертные оценки:</label>
        <input type="checkbox" name="check_term_marks" id="check_term_marks" onclick="term_marks()">
        <br>
        <br>
        <label for="min_for_5">Минимальный балл для четвертной 5:</label>
        <input type="number" name="min_for_5" id="min_for_5" value="4.5" min="4.0" max="5.0" step="0.1" required disabled>
        <br>
        <br>
        <label for="min_for_4">Минимальный балл для четвертной 4:</label>
        <input type="number" name="min_for_4" id="min_for_4" value="3.5" min="3.0" max="4.0" step="0.1" required disabled>
        <br>
        <br>
        <label for="min_for_3">Минимальный балл для четвертной 3:</label>
        <input type="number" name="min_for_3" id="min_for_3" value="2.5" min="2.0" max="3.0" step="0.1" required disabled>
    </p>
    <p align="center"><input type="submit" value="Проверить журналы" id="sbm"></p>
</form>

</body>
</html>