<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}

    <meta charset="UTF-8">

    <link rel="stylesheet" href="{% static 'journal_parser/style.css' %}">
    <title>Проверяем...</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script type="text/javascript" src="{% static 'journal_parser/script.js' %}"></script>
</head>
<body>

<p id="progress-title"></p>
<br>
<form action="{% url 'journal_parser:cancel' task_id=task_id %}" method="post" id="cancelForm">
    {% csrf_token %}
    <input type="submit" value="Отменить" onclick="return revoke_confirm()">
</form>
{% if task_id %}
  <script>
  var taskUrl = "{% url 'journal_parser:task' task_id=task_id %}";
  var dots = 1;
  var progressTitle = document.getElementById('progress-title');
  updateProgressTitle();

  var timer = setInterval(function() {
    updateProgressTitle();
    axios.get(taskUrl)
      .then(function(response){
        var taskStatus = response.data.task_status
        if (taskStatus === 'SUCCESS') {
          clearTimer('Журналы проверены! Проверьте "Загрузки", там должен быть Excel-файл');
          var url = window.location.protocol + '//' + window.location.host + '/media/files/' + response.data.results.file_name;
          var a = document.createElement("a");
          a.target = '_BLANK';
          document.body.appendChild(a);
          a.style = "display: none";
          a.href = url;
          a.download = 'response.data.results.file_name';
          a.click();
          document.body.removeChild(a);

          var remove_url = window.location.protocol + '//' + window.location.host + '/journal/remove/' + response.data.results.file_name + '/';
          axios.defaults.xsrfCookieName = 'csrftoken';
          axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
          axios.post(remove_url, response.data.results.file_name)

        } else if (taskStatus === 'FAILURE') {
          clearTimer('Произошла ошибка :(');
        }
      })
      .catch(function(err){
        console.log('err', err);
        clearTimer('Произошла ошибка:(');
      });
  }, 800);
  function updateProgressTitle() {
    dots++;
    if (dots > 3) {
      dots = 1;
    }
    progressTitle.innerHTML = 'Ваши журналы проверяются. Пожалуйста, подождите';
    for (var i = 0; i < dots; i++) {
      progressTitle.innerHTML += '.';
    }
  }
  function clearTimer(message) {
    clearInterval(timer);
    progressTitle.innerHTML = message;
  }
  </script>
  {% endif %}

</body>
</html>