<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>index page</title>
    <link rel="stylesheet" href="{% static 'journal_parser/ind.css' %}">
    <link rel="shortcut icon" href="{% static 'journal_parser/favicon.ico' %}" type="image/x-icon">
</head>
<body>
<form action="{% url 'act' %}" method="post">
    {% csrf_token %}
        <div><input type="submit" value="Проверить журналы" name="_journal"></div>
    <br>

        <div><input type="submit" value="VKrepost" name="_vkrepost"></div>
</form>
</body>
</html>