body {
    padding-top: 12%;
    background-color: white;

}



h1 {
    position: relative;
    left: 61%;
    color: black;
}

form {
    position: relative;
    display: table;
    margin: auto;


}

div {
    margin-right: 1%;
}

input[type=submit] {
    height: 30px;
    width: 220px;
    background-color: Transparent;
    background-repeat:no-repeat;

    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: black;
    font-weight: bold;

}

input[type=submit]:hover {
    height: 30px;
    width: 220px;
    background-color: Transparent;
    background-repeat:no-repeat;

    border-color: #0066ff;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: #0066ff;
    font-weight: bold;
}

