body {
    font-family: Gill Sans, sans-serif;
    position:relative;

    height:100%;
    margin:0;
}
form#mainForm {
    /* Параметры границы */
    margin: 5% 20%;
}

form#cancelForm {
    position: fixed;
    top: 50%;
    left: 45%;
    margin-top: 5px;
    margin-left: 0px;
}
hr {
    border-top: 1px solid #cccccc;
}

p {
    background-color: white;
    padding: 25px 30px; /* Поля вокруг текста */

}


h1 {
    text-align: center;
}

.center {
    text-align: center;
    margin: 0px;
    font-size: 16pt;
}

p#progress-title {
    font-family: Calibri;
    position: relative;
    text-align:center;
    top: 70%;
    margin: 10% 13%;
    font-size: 40pt;
}

input[type=submit] {
    height: 30px;
}