
body {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    height: 100%;
    margin: 0;
}

html {
    height: 100%;
}
#all {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#clock {
    font-size: 50pt;
}

#info {
    font-size: 25pt;
}

p {
    margin: 15px 0px;
}