<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Расписание</title>
    <style>

body {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    height: 100%;
    margin: 0;
    color: white;
    background-color: #44B27E;
}

html {
    height: 100%;
}

#all {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#clock {
    font-size: 50pt;
}

#info {
    font-size: 25pt;
}

p {
    margin: 0px;
}
  </style>

</head>
<body>
<div id="all">
 <div>
     <div id="info">

     </div>
 </div>
</div>

<script>
    var lessons = {{lessons|safe}}
    var breaks = {{breaks|safe}}


    console.log(lessons)
    console.log(breaks)


    window.onload = divUpd();

    function get_time(string) {

        var array = string.split(':')
        var lesson_time = new Date(2000, 1, 1, parseInt(array[0]), parseInt(array[1]))
        return lesson_time.getTime()

    };

    function getData() {
        var this_day = new Date()
        var h = this_day.getHours();
        var m = this_day.getMinutes();
        var now_time = new Date(2000, 1, 1, h, m);
        console.log(now_time)
        for (var i=0; i < lessons.length; i++) {
            var lesson = lessons[i]
            var ms_time = get_time(lesson.start_time)
            var l_st_time = new Date(ms_time)

            var l_en_time = new Date(ms_time)
            l_en_time.setMinutes(l_st_time.getMinutes() + lesson.duration)

            console.log(l_st_time, l_en_time)

            if (l_st_time <= now_time && now_time <= l_en_time) {
                l_number = lesson.number
                l_end = `${l_en_time.getHours()}:${l_en_time.getMinutes()}`
                html = `<p>Идет ${l_number} урок</p><p>Перемена начнется в ${l_end}</p>`
                return html
            }
        }

        for (var i=0; i < breaks.length; i++) {
            var br = breaks[i]
            var ms_time = get_time(br.start_time)
            var br_st_time = new Date(ms_time)
            var br_en_time = new Date(ms_time)
            br_en_time.setMinutes(br_st_time.getMinutes() + br.duration)

            console.log(br_st_time, br_en_time)
            if (br_st_time < now_time && now_time < br_en_time) {
                br_end = `${br_en_time.getHours()}:${br_en_time.getMinutes()}`
                html = `{<p>Идет перемена</p><p>Урок начнется в ${br_end}</p>`
                return html
            }
        }
        if (m < 10) {
            m = `0${m}`
        }
        s = this_day.getSeconds()
        if (s < 10) {
            s = `0${s}`
        }
        return `<p>${h}:${m}:${s}</p>`

    }

    function divUpd() {
        placeholder = document.getElementById('info');
        placeholder.innerHTML = getData();
    }

<!--Refresh the page and data-->
    var td = new Date()
    setTimeout(function(){location.reload();}, 1000*60*60*(24-td.getHours()))

<!--Polling-->
    setInterval(divUpd, 1000*30)


</script>
</body>
</html>