 <div>
         <div id="info">
             {% if 'lesson_num' in info %}
             <p>Идет {{info.lesson_num}} урок</p>
             <p>Перемена начнется в {{info.lesson_end}}</p>
             {% elif 'break_end' in info %}
             <p>Идет перемена</p>
             <p>Урок начнется в {{info.break_end}}</p>
             {% elif 'first_lesson_start' in info %}
             <p>Первый урок начнется в {{info.first_lesson_start}}</p>
             {% else %}
             <p>{{alt_message}}</p>
             {% endif %}
         </div>
 </div>